body {
	font-family:'Helvetica Neue',sans-serif;
}

#container {
	float:left;
	clear:both;
}


/* Create product */
aside {
	float:right;
	width: 400px;
	height: 100%;
}

aside span {
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
}

aside input[type=text] {
	max-width: 250px;
	min-width: 250px;
	height: 20px;
	float: right;
}

.fileinputsbg {
	border: 1px solid #999;
	position: relative;
	width: 255px;
	max-width: 255px;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
	background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
	overflow: hidden;
	float: right;
}

.fileinputs {
	float: left;
	width: 245px;
	max-width: 245px;
	overflow: hidden;
}

aside input[type=file]::-webkit-file-upload-button {
	/* STYLE ADD IMAGE BUTTON */
}

aside input[type=file] {
	content: 'Select some files';
	display: inline-block;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
	background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
	padding: 5px 14px;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	float: left;
}

aside textarea {
	max-width: 250px;
	min-width: 250px;
	height: 70px;
	border: solid 1px #D3D3D3;
	resize: none;
	float: right;
}

aside input[type=submit] {
	background: #FEDA71;
	background: -moz-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEDA71),color-stop(100%,#FEBB49));
	background: -webkit-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: -o-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: -ms-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FEDA71',endColorstr='#FEBB49',GradientType=0);
	padding:8px 18px;
	color:#623F1D;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:48px;
	-moz-border-radius:48px;
	-webkit-border-radius:48px;
	border:1px solid #623F1D;
	float: right;
}

/* Product list view */
#container ul {
	display: inline-table;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list-header {
	font-weight: 600;
	margin-left: 25px;
}

.list-product {
	clear: both;
	padding-top: 5px;
}

.thumb-img {
	float:left;
	width: 25px;
}

.product-id {
	float:left;
	display: inline-block;
	width: 50px;
	margin-left: 10px;
}

.title {
	float:left;
	display: inline-block;
	width: 250px;
}

.price {
	float:left;
	display: inline-block;
	width: 85px;
}

.create-date {
	float:left;
	display: inline-block;
	width: 150px;
}

.update-date {
	float:left;
	display: inline-block;
	min-width: 150px;
}

.delete-confirm {
	clear: both;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: right;
	font-size: 14px;
}

.delete-confirm form {
	margin-left: 15px;
	float: right;
}

/* Product view */
.product {
	display: block;
}
.medium-img {
	float:left;
	width: 250px;
}

.product-info {
	margin-left: 25px;
	display: block;
	float:left;
}

.product-action {
	padding-top: 25px;
	clear: both;
	display: block;
}

.product-action li {
	margin-right: 25px;
	display: inline;
}
















