html, body {
	font-family:'Helvetica Neue',sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
}

#wrapper {
	margin: 0 auto;
	text-align: left;
	width: 800px;
}

#container {
	display: inline-block;
	clear:both;
	width: 800px;
	padding-bottom: 25px;
	border-bottom: 1px dashed gray;
}


/* Create product */
fieldset {
	border:none;
}

aside {
	width: 800px;
	height: 100%;
	padding-top: 25px;
	background-color: #f0f0f0;
}

.aside-full {
	display: inline-block;
	max-width: 800px;
	width: 800px;
	clear: both;
}

.aside-split {
	width: 395px;
	float: right;
}

label {
	font-size: 14px;
}

aside span {
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
}

aside input[type=text] {
	max-width: 250px;
	min-width: 250px;
	height: 20px;
	float: right;
}

.fileinputsbg {
	border: 1px solid #999;
	position: relative;
	width: 255px;
	max-width: 255px;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
	background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
	overflow: hidden;
	float: right;
}

.fileinputs {
	float: left;
	width: 245px;
	max-width: 245px;
	overflow: hidden;
}

aside input[type=file]::-webkit-file-upload-button {
	/* STYLE ADD IMAGE BUTTON */
}

aside input[type=file] {
	content: 'Select some files';
	display: inline-block;
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
	background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
	padding: 5px 14px;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	float: left;
}

aside textarea {
	max-width: 250px;
	min-width: 250px;
	height: 70px;
	border: solid 1px #D3D3D3;
	resize: none;
	float: right;
}

aside .submit-button {
	background: #FEDA71;
	background: -moz-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEDA71),color-stop(100%,#FEBB49));
	background: -webkit-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: -o-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: -ms-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FEDA71',endColorstr='#FEBB49',GradientType=0);
	padding:8px 18px;
	color:#623F1D;
	border:1px solid #623F1D;
	font-family:'Helvetica Neue',sans-serif;
	font-size:14px;
	border-radius:48px;
	-moz-border-radius:48px;
	-webkit-border-radius:48px;
	border:1px solid #623F1D;
	clear:both;
	float: right;
}

/* Product list view */
#container ul {
	display: inline-table;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header-message {
	
	display: inline-block;
	width: 800px;
}

.header-message h3 {
	float: left;
}

.header-message p {
	float: right;
	font-size: 14px;
	margin-top: 22px;
}

.list-header {
	font-weight: 600;
	margin-left: 25px;
}

.list-product {
	clear: both;
	display: block;
	float: left;
	padding-top: 5px;
}

.thumb-img {
	float:left;
	width: 25px;
}

.product-id {
	float:left;
	display: inline-block;
	width: 50px;
	margin-left: 10px;
}

.title {
	float:left;
	display: inline-block;
	width: 250px;
}

.price {
	float:left;
	display: inline-block;
	width: 85px;
}

.create-date {
	float:left;
	display: inline-block;
	width: 150px;
}

.update-date {
	float:left;
	display: inline-block;
	min-width: 150px;
}

.delete-list-action {
	font-size: 12px;
	margin-left: 10px;
}

.edit-list-action {
	font-size: 12px;
}

.delete-form {
	display: block;
	clear: both;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: right;
	font-size: 14px;
}

.delete-form form {
	margin-left: 15px;
	float: right;
}

.update-form {
	display: block;
	clear: both;
	padding-bottom: 20px;
	text-align: left;
	font-size: 14px;
}

.update-form form {
	float: left;
}

.update-title-input {
	margin-left: 85px;
	width: 220px;
}

.update-price-input {
	margin-left: 20px;
	margin-right: 160px;
	width: 65px;
}

.cancel-button {

}

.confirm-button {

}


/* Product view */
.product-action {
	clear: both;
	display: inline-block;
	width: 800px;
}

.back-link {
	font-size: 14px;
	margin-right: 150px;
	float: left;
}

.back-message {
	font-size: 14px;
	float: left;
}

.product-view-message {
	float:left;
}

.delete-submit {
	font-size: 14px;
	margin-top: 12px;
	float: right;
}

.delete-submit span {
	margin-right: 25px;
}

.delete-submit input[type=submit] {

}


.product {
	float: left;
}

.medium-img {
	float:left;
	width: 250px;
}

.product-info {
	margin-left: 25px;
	display: block;
	float:left;
	width: 500px;
	max-width: 500px;
}

.product-action li {
	margin-right: 25px;
	display: inline;
}

.column-row {
	display: inline;
	float: left;
	margin-bottom: 10px;
	clear: both;
}

.column-row p {
	display: inline;
}

.column-row form {
	display: inline;
}

.update-action {
	display: block;
	float: right;
	clear: both;
}

.column-row textarea {
	display: block;
	max-width: 350px;
	min-width: 350px;
	height: auto;
	min-height: 70px;
	border: solid 1px #D3D3D3;
	resize: none;
}

.column-row-title {
	display: inline-block;
	width: 100px;
	font-size: 12px;
	font-weight: 600;
}

.column-noedit {
	font-size: 14px;
}

.edit-submit {
	margin-left: -5px;
	margin-right: 10px;
}

.update-confirm {
	float: right;
	margin-left: 10px;
}

.column-desc {
	width: 330px;
	float: right;
	font-size: 14px;
}

.column-created {
	clear: both;
}

.column-updated {
	clear: both;
}

/* Handle category view */

.category-level {
	font-size: 12px;
}

.primary-categories {
	float: left;
	clear: both;
}

.secondary-categories {
	float: left;
	clear: both;
}

.tertiary-categories {
	float: left;
	clear: both;
}

.checkbox {
	display: block;
	width: 150px;
	max-width: 150px;
	float: left;
}

.checkbox input {
	display: inline;
	float: left;
}

.checkbox span {
	font-size: 14px;
	display: inline;
	max-width: 124px;
	float: left;
	overflow: hidden;
}

aside select {
	max-width: 250px;
	min-width: 250px;
	height: 20px;
	float: right;
}

.create-category-form {
	float: right;
	margin-right: 30px;
}

.add-category-form {
	margin: 0 auto;
	width: 780px;
}
